<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
</head>

<body>
    <h1>{{name}}</h1>
    <table id="users-table" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.surname}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
            </tr>
            {{/each}}
        </tbody>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="/public/js/user-table.js"></script>
        <script>
            $(document).ready(function () {
                $('#users-table').DataTable();
            });
        </script>
</body>

</html>